body,
html,
#root {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; /* 수직 정렬 */
    flex-direction: row; /* default: row */
    justify-content: center; /* flex direction에 대해서 정렬방식 선택 */
}

table {
    margin: auto;
}

.game-main {
    position: relative;
    width: 54vh;
    height: 54vh;

    .grid {
        position: absolute;

        display: grid;

        grid-template-columns: repeat(5, 1fr);

        grid-template-rows: repeat(5, 1fr);

        grid-gap: 1vh;
        z-index: 1;

        .cell {
            width: 10vh;
            height: 10vh;
            border-radius: 10px;
            color: rgb(211, 211, 211);
            background-color: rgb(211, 211, 211);
            z-index: 1;
        }

        .invis {
            width: 10vh;
            height: 10vh;
            z-index: 2;
        }
    }
}

// login / signin

.piece {
    position: absolute;
    background-color: #000000;
    color: red;
    z-index: 5;
    width: 10vh;
    height: 10vh;
    border-radius: 5vh;
}

.pieces-outer {
    position: absolute;
    filter: url("#goo");
    z-index: 4;
}

.their {
    background-color: red !important;
}

.react-draggable-dragged {
    transition: 200ms;
}

.react-draggable-dragging {
    transition: 0ms !important;
}

.login {
    color: #31507d;
    display: flex;
    font-family: "Poppins", sans-serif;
    height: 100vh;
    align-items: center;
    justify-content: center;

    form {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: rgba(74, 79, 97, 0.25) 0px 13px 27px -5px, rgba(74, 79, 97, 0.3) 0px 8px 16px -8px;
        padding: 20px 35px 35px 35px;
        text-align: center;
        width: 500px;

        i {
            color: #fff;
            font-size: 30px;
            transition: color 250ms ease-in;
        }

        .input-wrapper {
            margin-bottom: 30px;
            position: relative;

            i {
                color: #a4a9b6;
                position: absolute;
                opacity: 0.85;
                right: 13px;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        h1 {
            font-weight: 600;
            letter-spacing: 0;
            margin: 25px 0 0 0;
        }

        p {
            color: #a4a9b6;
            font-size: 18px;
            margin: 2px 0 44px 0;
        }

        input[type="text"],
        input[type="password"] {
            border: 1px solid #d8ddf0;
            border-radius: 6px;
            font-size: 15px;
            padding: 13px 9px 13px 9px;
            transition: border-color 250ms ease-in;

            &:focus {
                border-color: #4c70ff;
                outline: none;
            }

            &:focus + i {
                color: #4c70ff;
            }
        }

        input {
            width: 100%;
        }

        ::placeholder {
            color: #a4a9b6;
            font-size: 15px;
            opacity: 1;
        }

        button[type="submit"] {
            background: #4c70ff;
            border: none;
            border-radius: 6px;
            color: #fff;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            padding: 18px 10px;
            width: 100%;

            i {
                margin-left: 5px;
            }
        }
    }
}
